@model Code.Objects.Photo

<div class="row">
    <button type="button" class="" data-bs-toggle="modal" data-bs-target="#photoModal">
        <img src="@Model.Thumbnail" class="my-photo-thumbnail"/>
    </button>
</div>