@model Code.Objects.Riddle
<div>
    <div class="riddle-title">@Model.Title</div>

    <div class="riddle-question">@Model.Question</div>
    
    <div class="riddle-answer">@Model.Answer</div>
</div>