@page
@model PrivacyModel
@{
}
<div class="about-page">
    <h3>About</h3>
    <br/>
    <div>
        <p>
            This is a hobby project that aggregates information from a variety of APIs to create a collection of "Blank"-of-the-day items - such as jokes, photos, and facts.
        </p>

        <p>
            Most data is fetched from <a href="https://api-ninjas.com/" target="_blank">API Ninjas</a>.
            Photos are retrieved from <a href="https://unsplash.com/" target="_blank">Unsplash.</a>
        </p>
    </div>

    <a asp-area="" asp-page="/Index" class="about-link">Return</a>

</div>
